

.info {font-style:italic; font-size:12px; color:#0073e6}



#logo { display:none;}




/* faccine */
.sad, .happy { font-size: 50px;}
.happy { color:#007515; position:relative; top: -30px; left:38px;}
.sad { color:#cc0000; position:relative; top: -30px; left:-38px; }


