
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* =============================================================
   GENERAL STYLES
 ============================================================ */

 html {
  height: 100% !important;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content-wrapper { min-height: 100% !important; }

.row { padding:10px;}



/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
 footer{
    color: white;
  }
  footer a{
    color:#6D6D6D;
  }
  footer a:hover{
    color: rgb(187, 25, 25);
    text-decoration: none;
  }

  span.iconFooter :hover{
    color: rgb(187, 25, 25);
  }
  
  .footer-bottom{
    background: #6D6D6D;
    padding: 2em;
  
  }

  .footer-bottom .row{
    text-align: center;
  }

  .footer-top{
    background:  #66AB01;
    color:#6D6D6D;
    font-weight: bold;
    ; 
     
  }

  .footer-title { color:#ffffff; text-align: center;}

  .footer-top .card
  {
background-color:#D2FFBC;
  }

  .footer-middle{
     background: #3d6277;
    padding-top: 2em;
    color: white;
  }
  /**Sub Navigation**/
  .subnavigation-container{
    background: #3d6277;
  }
  .subnavigation .nav-link{
    color: white;
    font-weight: bold;
  }
  .subnavigation-container{
    text-align: center;
  }
  .subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
  }
  .col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
  }
  .col-subnav .active{
    border-top:5px solid orange;
   background: white;
    color: black;
  }

/* TABLE  */

.table { font-size: small;}


  
  

	
/* aggiunta */

#aggiungi{ width:550px; height:450px; background-color:#FFF; display:none; z-index:+300; position:absolute; left:30%; top:20%; -moz-border-radius: 15px;  -webkit-border-radius: 15px;
border-radius: 15px;}
.modifica{ width:550px; height:450px; background-color:#FFF; display:none; z-index:+300; position:absolute; left:30%; top:20%; -moz-border-radius: 15px;  -webkit-border-radius: 15px;
border-radius: 15px;}	


/* Crea link css */
.copylink {margin-left:30px; width:40px; height:20px; background:#efefef; text-align:center;}
.copylink:hover {background:#0065ca; color:white;}
#modLink {padding:10px; height:150px;}


.apriMod:hover{cursor:pointer;}
.chiudi{ font-size:12px; color:red; font-weight:bold; position:absolute; right:2%; top:-1%;  cursor:pointer;}
.overlay{
    background:#000;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    cursor:pointer;
/*Trasperenza cross browser*/
opacity: .7; filter: alpha(opacity=70);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  
 
}

#forClo { cursor:pointer;}
#botClo { background-color:red;
    display: block;
	height:25px;
	width:70px;
	font-size: 10px;
	cursor:pointer;
	vertical-align:middle;
	text-align:center;
	}
	

.nam
{
color:#000051;
font-size:24px;
margin-bottom:10px;
margin-left:5px;
}

.subnam
{
color:#0000D7;
font-size:16px;
margin-bottom:10px;
margin-left:5px;
}

.btn-style{
	border : solid 2px #c7c7c7;
	border-radius : 5px 5px 20px 20px ;
	moz-border-radius : 5px 5px 20px 20px ;
	font-size : 20px;
	color : #00b7ff;
	padding : 2px 10px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6));
	background : -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );

}


/* TOOLTIP */

.tooltip-inner {
  background-color: #218838;
}
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #218838 !important;
}
.tooltip.bs-tooltip-left .arrow:before {
  border-right-color: #218838 !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
  border-right-color: #218838 !important;
}
.tooltip.bs-tooltip-top .arrow:before {
  border-right-color: #218838 !important;
}

label {
  clear: both;
  display: block;
}

td.crono2  { width: 17%!important; }


canvas{

  width:100% !important;

}

.table-bordered th, .table-bordered td { vertical-align: middle;}

/* CSS per fieldControl */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-size: 16px;
  border: 1px solid #dee2e6;
}

.custom-table th, .custom-table td {
  padding: 0.75rem;
  vertical-align: middle;
  text-align: center;
}

.custom-thead {
  background-color: #343a40;
  color: #ffffff;
}

.custom-tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra pattern */
}

.custom-progress {
  height: 20px;
  background-color: #e9ecef;
  border-radius: 10px;
}

.custom-progress-bar {
  height: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}

.custom-progress-bar.bg-danger {
  background-color: #dc3545; /* Rosso sotto il 50% */
  border-radius: 10px;
}

.custom-progress-bar.bg-warning {
  background-color: #ffc107; /* Giallo tra 50% e 80% */
  border-radius: 10px;
}

.custom-progress-bar.bg-success {
  background-color: #28a745; /* Verde sopra l'80% */
  border-radius: 10px;
}

.custom-crono {
  font-size: 14px;
  text-align: center;
}

.custom-table-responsive {
  overflow-x: auto;
  margin-bottom: 1.5rem;
}

.custom-alert-danger {
  height: 35px;
  background-color: #ffcccc;
  color: #ff0000;
  font-weight: bold;
  text-align: center;
}

.custom-alert-warning {
  height: 35px;
  background-color: #fff3cd;
  color: #856404;
  font-weight: bold;
  text-align: center;
}

.custom-alert-success {
  height: 35px;
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 767px) {
  .custom-table {
      font-size: 14px;
  }

  .custom-progress-bar {
      font-size: 12px;
  }
}
/* Stile per tutte le card */
.custom-card {
  border: none;
  border-radius: 12px!important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)!important;
  transition: all 0.3s ease-in-out!important;
  overflow: hidden!important;
  background: #ffffff!important;
  position: relative!important;
  padding: 20px!important;
}

/* Ombra e trasformazione al passaggio del mouse */
.custom-card:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px) scale(1.02);
}

/* Stile del corpo della card */
.custom-card-body {
  height: 100%;
  padding: 15px;
}

/* Titolo della card */
.custom-card-title {
  font-size: 1.15rem;
  font-weight: 600;
  text-transform: uppercase;
  color: inherit;
  margin-bottom: 12px;
  padding-bottom: 5px;
  border-bottom: 3px solid currentColor;
}

/* Testo della card */
.custom-card-text {
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 8px;
}

/* Icona con maggiore visibilità */
.custom-card-icon {
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  opacity: 0.2;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Effetto Hover sull'icona */
.custom-card:hover .custom-card-icon {
  opacity: 0.4;
  transform: scale(1.1);
}

/* Colori personalizzati per il testo */
.text-navy {
  color: #001f3f;
}

/* Navbar laterale */
.navlateral {
  display: flex;
  align-items: center;
}

#menu-toggle {
  margin-right: 10px;
}

/* Contenitore per il menu di selezione */
.menu-selection {
  gap: 10px;
}

/* Stile del pulsante del menu */
.menu-btn {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  color: #555;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu-btn i {
  font-size: 1.1rem;
}


/* Effetto hover */
.menu-btn:hover {
  background-color: #e0e0e0;
  color: #333;
}


/* CSS SETTING CONTA LOCALE*/

    /* Effetto hover per i pulsanti di comando */
    .sc_list-group-item-action:hover {
      background-color: #f8f9fa;
      color: #007bff;
      cursor: pointer;
      
  }

  /* Stile per il testo */
  .sc_shadow-sm {
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }

  .sc_border-0 {
      border: none;
  }

  .sc_bg-primary {
      background-color: #007bff !important;
  }

  .sc_bg-secondary {
      background-color: #6c757d !important;
  }

  .sc_text-white {
      color: #fff !important;
  }

  .sc_text-muted {
      color: #6c757d;
  }

  h6 {
      font-weight: bold;
  }

  /* Wrapper principale con Flexbox per riempire la pagina */
.sc_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Occupa l'intera altezza della finestra */
}

/* Container principale per il contenuto */
#page-content-wrapper {
  flex: 1; /* Espande il contenuto per riempire lo spazio disponibile */
}
