
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */



/* =============================================================
   GENERAL STYLES
 ============================================================ */

.row { padding:10px;}



/* =============================================================
   FOOTER SECTION STYLES
 ============================================================ */
.footer-section {
    padding:25px 50px 25px 50px;
    color:#000;
    font-size:13px;
      background-color: #f7f7f7;
      text-align:right;
       border-top:5px solid #9170E4;

}

    .footer-section a, .footer-section a:hover {
        color:#000;
    }

/* TABLE  */

.table { font-size: small;}

  
  

	
/* aggiunta */

#aggiungi{ width:550px; height:450px; background-color:#FFF; display:none; z-index:+300; position:absolute; left:30%; top:20%; -moz-border-radius: 15px;  -webkit-border-radius: 15px;
border-radius: 15px;}
.modifica{ width:550px; height:450px; background-color:#FFF; display:none; z-index:+300; position:absolute; left:30%; top:20%; -moz-border-radius: 15px;  -webkit-border-radius: 15px;
border-radius: 15px;}	


/* Crea link css */
.copylink {margin-left:30px; width:40px; height:20px; background:#efefef; text-align:center;}
.copylink:hover {background:#0065ca; color:white;}
#modLink {padding:10px; height:150px;}


.apri:hover{ background-color:red;  cursor:pointer;}
.apriMod:hover{cursor:pointer;}
.chiudi{ font-size:12px; color:red; font-weight:bold; position:absolute; right:2%; top:-1%;  cursor:pointer;}
.overlay{
    background:#000;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:100;
    cursor:pointer;
/*Trasperenza cross browser*/
opacity: .7; filter: alpha(opacity=70);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";  
 
}

#forClo { cursor:pointer;}
#botClo { background-color:red;
    display: block;
	height:25px;
	width:70px;
	font-size: 10px;
	cursor:pointer;
	vertical-align:middle;
	text-align:center;
	}
	

.nam
{
color:#000051;
font-size:24px;
margin-bottom:10px;
margin-left:5px;
}

.subnam
{
color:#0000D7;
font-size:16px;
margin-bottom:10px;
margin-left:5px;
}

.btn-style{
	border : solid 2px #c7c7c7;
	border-radius : 5px 5px 20px 20px ;
	moz-border-radius : 5px 5px 20px 20px ;
	font-size : 20px;
	color : #00b7ff;
	padding : 2px 10px;
	background : #ffffff;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6));
	background : -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -webkit-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -o-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : -ms-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	background : linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );

}